<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <h1 class="page-header">Attributes</h1>
  <div class="container-fluid">
    <div>
      <ul class="list-unstyled">
        <li><img src="assets/images/str.png" alt="Strength" width=50 title="Strength">
            <span style="font-size:30px">{{getAttr('str') || 0}}</span>
        </li>
        <li><img src="assets/images/dex.png" alt="Dexterity" width=50 title="Dexterity">
            <span style="font-size:30px">{{getAttr('dex') || 0}}</span>
        </li>
        <li><img src="assets/images/con.png" alt="Constitution" width=50 title="Constitution">
            <span style="font-size:30px">{{getAttr('con') || 0}}</span>
          </li>
        <li><img src="assets/images/int.png" alt="Intelligence" width=50 title="Intelligence">
            <span style="font-size:30px">{{getAttr('int') || 0}}</span>
          </li>
        <li><img src="assets/images/wis.png" alt="Wisdom" width=50 title="Wisdom">
            <span style="font-size:30px">{{getAttr('wis') || 0}}</span>
          </li>
        <li><img src="assets/images/cha.png" alt="Charisma" width=50 title="Charisma">
            <span style="font-size:30px">{{getAttr('cha') || 0}}</span>
          </li>
      </ul>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Log</h1>
      <accordion close-others="true">
        <accordion-group ng-repeat="parent in awesomeEvents | filter:{parent_name:'!'}" heading="{{parent.name | titleCase}}">
            <div ng-repeat="child in awesomeEvents | filter:{parent_name:parent.name}" class="accordion-inner">
                <a href="" ng-click="updateAttr(child.attrs)">{{child.name | titleCase}}</a>
            </div>
        </accordion-group></li>
      </accordion>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Created using Angular Fullstack v2.0.13</p>
  </div>
</footer>
